<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cxf="http://cxf.apache.org/blueprint/core"
    xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
    	http://cxf.apache.org/blueprint/core http://cxf.apache.org/schemas/blueprint/core.xsd">

	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

	<reference id="jacksonMapperFactory" interface="org.soluvas.json.JacksonMapperFactory" />
	
	<bean id="jaxrsManager" class="com.soluvas.cxf.DynamicJaxrsManager"
		init-method="init" destroy-method="destroy">
		<argument ref="blueprintBundleContext"/>
		<argument value="/api/berbatik_dev" />
		<argument>
			<list>
				<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>
				<bean class="org.soluvas.jaxrs.Jackson2ContextResolver">
					<argument ref="jacksonMapperFactory"/>
				</bean>
			</list>
		</argument>
	</bean>
	<service ref="jaxrsManager" auto-export="interfaces"/>
	
	<bean class="org.osgi.util.tracker.ServiceTracker" init-method="open" destroy-method="close">
		<argument ref="blueprintBundleContext"/>
		<argument>
			<bean class="org.osgi.framework.FrameworkUtil" factory-method="createFilter">
				<argument value="(&amp;(objectClass=java.lang.Iterable)(tenantId=berbatik)(tenantEnv=dev)(type=jaxrs)(address=api))"/>
			</bean>
		</argument> 
		<argument ref="jaxrsManager"/>
	</bean>

</blueprint>
